a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover{
  opacity: 0.5;
}

body{
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

footer img{
  margin: 1rem;
}

footer p, footer a{
  color: white;
  font-size: 0.5rem;
  margin-top: 1rem
}

header{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding-top: 0.8rem;
}

section{
  padding: 0.8rem;
  position: relative;
}

ul{
  list-style-type: none;
}

.about-us{
  background-color: rgb(40, 40, 40);
}

.about-us p, .about-us h2{
  color: white;
}

.address span{
  margin: auto 0.5rem auto 0;
}

.arrow-left, .ga-arrow-left{
  position: absolute;
  left: 1rem;
  top: 49%;
  background-color: #f3f3f3;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}

.arrow-right, .ga-arrow-right{
  position: absolute;
  right: 1rem;
  top: 49%;
  background-color: #f3f3f3;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}

.card{
  background-color: white;
  margin: 2rem 0;
}

.card-content{
  padding: 0 0.8rem 0.8rem;
}
.card-content>div{
  display: flex;
  flex-direction: row;
  justify-content: left;
}


.card-head{
  background-color: #f3f3f3;
  padding: 0.2rem 0.8rem;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.event{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0.5rem;
}

.event img{
  width: 10rem;
}

.event h4{
  text-align: center;
  margin-block-start: 0.2rem;
}

.events{
  display: flex;
  overflow-x: scroll;
  padding: 0.8rem;
  position: relative;
}

.fa-clock:before{
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.fb-page{
  margin: auto;
  display: flex;
}

.fa-home:before, .fa-phone:before{
  color: #69bd45;
  padding: 8px 8px;
  border-radius: 50%;
  background-color: #f3f3f3;
  width: 1.1rem;
  height: 1.1rem;

}

.hamburger{
  margin: 1rem;
}

.hero{
  margin: 1rem 1.5rem;
  background-color: black;
  padding: 0.8rem;
}

.hero img{
  max-width: 100%;
}

.hero-links{
  margin: auto;
  max-width: 9rem;
}

.home-logo a{
  color: rgb(190, 210, 76);
  text-decoration: none;
  margin: auto;
}



.home-logo p {
  color: rgb(190, 210, 76);
}

.hours li{
  display: flex;
  justify-content: space-between;
  margin-left: -1.5rem;
  margin-right: 0.8rem;
}

.imp-events{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.8rem;
}

.imp-events h2{
  text-align: center;
}

.logo img{
  height: 3rem;
}

.menu {
  display: none;
}

.mobile-menu{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 4rem;
  padding: 20%;
  display: none;
  z-index: 2

}

.mobile-menu a{
  color: white;
  font-size: 1.5rem;
  line-height: 2;
}

.search{
  margin-top: 1rem;
}

.services{
  background-color: rgb(190, 210, 76);
  border: 3px solid rgb(190, 46, 115);
  margin-top: 1rem;
}

.services li {
line-height: 1.5;
text-align: center;
}

.services ul{
  padding-inline-start: 0;
}

.text{
  padding: 0.8rem;
}

/**/
/* GALLERY */
/**/

.gallery{
  width: 100%;
  display: flex;
  margin:0 auto;
  overflow: scroll;
  scroll-snap-type: x mandatory;

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .gallery {
    column-count: 1;
    column-gap: 3px;

  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .gallery {
    column-count: 3;
    column-gap: 3px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .gallery { /* Masonry container */
      column-count: 4;
      column-gap: 3px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .gallery{
    column-count: 5;
    column-gap: 0.2rem;
    width: 100%;
  }
}


.gallery-item { /* Masonry bricks or child elements */
    scroll-snap-align: start;
    background-color: #eee;
    display: inline-block;
    margin: 0 0 0.2rem;
    width: auto;

}
