a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover{
  opacity: 0.5;
}

body{
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

footer img{
  margin: 1rem;
}

footer p, footer a{
  color: white;
  font-size: 0.5rem;
  margin-top: 1rem
}

h1{
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

header{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding-top: 0.8rem;
}

html{
  scroll-behavior: smooth;
}

section{
  padding: 1.2rem;
  position: relative;
}

ul{
  list-style-type: none;
}

.about-us, .heading{
  background-color: rgb(40, 40, 40);
}

.about-us p, .about-us h2{
  color: white;
}

.address span{
  margin: auto 0.5rem auto 0;
}

.arrow-left, .ga-arrow-left{
  position: absolute;
  left: 1rem;
  top: 49%;
  background-color: #f3f3f3;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}

.arrow-right, .ga-arrow-right{
  position: absolute;
  right: 1rem;
  top: 49%;
  background-color: #f3f3f3;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}

.card{
  background-color: white;
  margin: 2rem 0;
}

.card-content{
  padding: 0 0.8rem 0.8rem;
}
.card-content>div{
  display: flex;
  flex-direction: row;
  justify-content: left;
}


.card-head{
  background-color: #f3f3f3;
  padding:0.5rem 0.8rem;
}

.card-head h2{
  margin-block-start: 0;
  margin-block-end: 0;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0!important;
    background: transparent; /* Chrome/Safari/Webkit */
    height: 0!important;
    display: none!important;
}


.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.event{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0.5rem;
    scroll-snap-align: start;
}

.event img{
  width: 20.5rem;
}

.event h4{
  text-align: center;
  margin-block-start: 0.2rem;
}

.events{
  display: flex;
  overflow-x: scroll;
  padding: 0.8rem;
  position: relative;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.fa-clock:before{
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.fb-page{
  margin: auto;
  display: flex;
}

.fa-home:before, .fa-phone:before{
  color: #69bd45;
  padding: 8px 8px;
  border-radius: 50%;
  background-color: #f3f3f3;
  width: 1.1rem;
  height: 1.1rem;

}

.gallery-item{
  position: relative;
  left: -8px;
  margin-bottom: -8px;
}

.gallery-item img{
  max-width: 95vw;
}

.hamburger{
  margin: 1rem;
}

.heading{
  padding: 0.8rem;
  position: rel
  bottom: -2px;
}

.hero{
  background-color: black;
  padding: 0.8rem;
}

.hero img{
  width: 100%;
}

.home-logo a{
  color: rgb(190, 210, 76);
  text-decoration: none;
  margin: auto;
}



.home-logo p {
  color: rgb(190, 210, 76);
}

.hours li{
  display: flex;
  justify-content: space-between;
  margin-left: -1.5rem;
  margin-right: 0.8rem;
}

.imp-events{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.8rem;
}

.imp-events h2{
  text-align: center;
}

.logo img{
  height: 3rem;
}

.menu {
  display: none;
}

.mobile-menu{
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 4rem;
  padding: 20%;
  display: none;
  z-index: 2

}

.mobile-menu a{
  color: white;
  font-size: 1.5rem;
  line-height: 2;
}

.search{
  margin-top: 1rem;
}

.services{
  background-color: rgb(190, 210, 76);
  border: 3px solid rgb(190, 46, 115);
  margin-top: 1rem;
}



.text{
  padding: 0.8rem;
}

@media only screen and (min-width : 768px) {

  header{
    padding-right: 0.8rem;
    justify-content: space-around;
  }

  p, li{
    font-size: 1.2rem;
  }

  .about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .event img{
    width: 15rem;
  }

  .fb-page{
    width: 22rem;
  }

  .gallery-parent{
    max-width: 25rem;
    position: relative;
 }

  .hamburger{
    display: none;
  }


  .logo img{
    height: 4.5rem;
  }

  .menu{
    display: flex;
  }

  .menu ul{
    display: flex;
    flex-direction: row;
  }

  .menu a{
    color: white;
    margin: 0 0.5rem;
  }


  .services li{
    font-weight: bold;
    line-height: 1.8;
  }
}

@media only screen and (min-width : 1079px){
  h1{
    font-size: 2.8rem;
  }

  h2{
    font-size: 2.5rem;
  }
  p, a{
    font-size: 1.6rem;
  }

 .card{

 }

  .contacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .event img{
    width: 18rem;
  }

  .fb-page{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .gallery-item{
    left: 0;
  }

  .gallery-parent{
    max-width: 40rem;
  }

  .gallery-item img{
    width: 40rem;
  }

.hero-links{
  display: flex;
  max-width: 45rem;
}

.logo img{
  height: 6.5rem;
}

.services li{
  font-size: 1.7rem;
}

}

@media only screen and (min-width : 1239px){
  section{
    padding: 2.5rem;
    margin: 2rem 2rem 0;
  }

  .card{
    max-width: 352px!important;
  }

  .event img{
    width: 16.5rem;
  }

  .imp-events{
    padding: 2rem 0.8rem;
  }

  .services{
    min-width: 30rem;
  }

  .services li{
    font-size: 2rem;
  }
}

@media only screen and (min-width : 1439px){

  section{
    margin: 3rem 3rem 0;
  }

  .event img{
    width: 24rem;
  }

  .gallery-parent{
    max-width: 50rem;
  }

  .gallery-item img{
    width: 50rem;
  }


}

/**/
/* GALLERY */
/**/

.gallery{
  width: 100%;
  display: flex;
  margin:0 auto;
  overflow: scroll;
  scroll-snap-type: x mandatory;

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .gallery {
    column-count: 1;
    column-gap: 3px;

  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .gallery {
    column-count: 3;
    column-gap: 3px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .gallery { /* Masonry container */
      column-count: 4;
      column-gap: 3px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .gallery{
    column-count: 5;
    column-gap: 0.2rem;
    width: 100%;
  }
}


.gallery-item { /* Masonry bricks or child elements */
    scroll-snap-align: start;
    background-color: #eee;
    display: inline-block;
    margin: 0 0 0.2rem;
    width: auto;

}
