<header>
  <div class="logo">
    <picture class="">
      <source srcset="/images/logo.webp" type="image/webp">
      <source srcset="/images/logo.png" type="image/png">
      <img src="/images/logo.png" alt="TwistMark Media Logo">
    </picture>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">LINKS</a></li>
      <li><a href="#">CONTACT</a></li>
      <li><a href="#">TV</a></li>
      <li><a href="#">VIDEOS</a></li>
    </ul>
  </div>
  <div class="search">
    <input type="text" name="" value="">
  </div>
  <div class="hamburger">
    <img src="/images/hamburger.svg" alt="">
  </div>

</header>
