<header>
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="kcDJ1ZoO"></script>
  <div class="logo">
    <picture class="">
      <source srcset="/images/logo.webp" type="image/webp">
      <source srcset="/images/logo.png" type="image/png">
      <img src="/images/logo.png" alt="TwistMark Media Logo">
    </picture>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#links">LINKS</a></li>
      <li><a href="#contact">CONTACT</a></li>
      <li><a href="#">TV</a></li>
      <li><a href="#">VIDEOS</a></li>
    </ul>
  </div>
  <div class="search">
    <input type="text" name="" value="">
  </div>
  <div class="hamburger">
    <img src="/images/hamburger.svg" alt="" class="menu-btn">
  </div>
  <div class="mobile-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">TV</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#links">Links</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

</header>
