
{{ $galleryimages := .Page.Resources.Match (printf "%s-*" (.Get "folder")) }}


<div class="row">
  <div class="12u$">
	<div class="gallery disable-scrollbars" itemscope itemtype="http://schema.org/ImageGallery">
{{ range $galleryimages }}
{{ $thumbnail:= .Fit "400x300" }}

		<figure itemscope itemtype="http://schema.org/ImageObject" class="image gallery-item">
		  <a href="{{ .Permalink }}" itemprop="contentUrl" data-size="{{ .Width }}x{{ .Height }}" >
		      <img src="{{ $thumbnail.Permalink }}" itemprop="thumbnail" alt="galleryImage" />
		  </a>

		  <figcaption itemprop="caption description">
		    <span itemprop="copyrightHolder"></span>
		  </figcaption>
		</figure>

{{ end }}

	</div>
  <div class="ga-arrow-right">
    <i class="fas fa-chevron-right"></i>
  </div>
  <div class="ga-arrow-left">
    <i class="fas fa-chevron-left"></i>
  </div>
  </div>
</div>
